.container,
.row {
  display: flex;
}

.container {
  flex-direction: column;
  padding: 10px;
}

.row {
  margin-top: -1px;
}

.square {
  border: 1px solid black;
  height: 30px;
  width: 30px;
  margin-left: -1px;
}