.container {
  padding: 10px;
}

.gridContainer,
.row {
  display: flex;
}

.gridContainer,
.row,
.square {
  flex: 1;
}

.gridContainer {
  flex-direction: column;
  width: 500px;
  height: 500px;
}

.row {
  margin-top: -1px;
}

.square {
  border: 1px solid black;
  margin-left: -1px;
}

.filled {
  background-color: palevioletred;
}